<div class="main">
		<div class="about">
				<div class="about-topm">
					<div class="col span_1_of_about">
							<div class="about-img2">
								<%= image_tag("karta.png", :alt => "") %>
							</div>
							<div class="about-desc">
								<p>Адрес:<br><br>
									г. Алматы,<br>
ул. Шевченко 118, офис 120<br>
Телефон: +7 727 244 05 05<br>
Email: info@lundeilona.kz<br>
Мы в Instagram: @yellow_kz</p>
							</div>
							<div style="height:300px;"></div>
							<div class="clear"></div>
					</div>
					
					<div class="clear"></div>
			</div>
			  </div>
	</div>