<div class="main">
	 <div class="wrap">
		<div class="about">
				<div class="about-top">
					<div class="col span_1_of_about">
							<div class="about-img1">
								<%= image_tag("karta.png", :alt => "") %>
							</div>
							<div class="about-desc1">
								<h5>Адрес:</h5><p><br>
									г. Алматы,<br>
ул. Шевченко 118, офис 120<br><br></p>
<h5>График работы:</h5>
<p>пн,вт,ср...пт: с 9.00-18.00,<br> суббота: с 10.00-15.00<br><br>
Телефон: +7 727 244 05 05<br>
Email: info@lundeilona.kz<br>
Мы в Instagram: @yellow_kz</p>
							</div>
							<div style="height:300px;"></div>
							<div class="clear"></div>
					</div>
					
					<div class="clear"></div>
			</div>
			  </div>
		</div>
	</div>