<div class="main">
	  <div class="products">
			 <div class="top-box">
				<h2>Products</h2>
				<hr>
				<p class="desc">Lorem ipsum dolor sit amet, consectetue</p>
			 </div>
			 <div class="padd">
                <div class="row">
                    <div class="span6 offset3">
                        <h4 class="head">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</h4>
                    </div>
                    <div class="clearfix"></div>
                 </div>
            </div>
		    <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					   <div class="list-box">
                            <p class="numb">1.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					 <div class="list-box">
                            <p class="numb">2.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					 <div class="list-box">
                            <p class="numb">3.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					 <div class="list-box">
                            <p class="numb">4.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="clear"></div>
			</div>
			 <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					   <div class="list-box">
                            <p class="numb">5.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					 <div class="list-box">
                            <p class="numb">6.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					 <div class="list-box">
                            <p class="numb">7.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					 <div class="list-box">
                            <p class="numb">8.</p>
                            <h4>Nam liber tempor</h4>
                            <p class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib</p>
                            <p class="txt2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Mauris fermentum dictum</p>
                      </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	 </div>